header {
    height:  60;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(219, 253, 0);
    border: 2px solid gold;
    margin: 0 auto;
}

img {
    width: 350px;
    height: 350px;
}

body img {
    margin-left: 40%;
}